<h1>Регистрация</h1>

<%= form_with(url: api_v1_user_registration_path, method: "post", html: {multipart: true}) do |f| %>
  
  <div>
    <%= f.label :nickname %>
    <%= f.text_field :nickname %>
  </div>

  <div>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div>
    <%= f.label :password %>
    <%= f.text_field :password %>
  </div>

  <div>
    <%= f.label :password_confirmation %>
    <%= f.text_field :password_confirmation %>
  </div>

  Загрузите вашу аватарку:<br> 
  <%= f.label :avatar %>
  <%= f.file_field :avatar %><br>

<%= f.submit "Загрузить" %><br>
<% end %>
